#root, body, html {
  height: 100%;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.face {
  border-radius: 200px;
  width: 400px;
  height: 400px;
  background-position: 0;
  background-size: cover;
  margin: 0 auto;
  background-image: url("https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/30517_10150183544865431_1247603_n.jpg?_nc_cat=101&_nc_oc=AQknrYIs1aLC8l-LJdMnL66LuKfkZNnBcl0lFMh9gAYlj59P1owE1YZkmymU40SGhpOXuyrtLRI4pV9aBsCC8pFV&_nc_ht=scontent-lht6-1.xx&oh=1a36d7c68706c360860365bb46c903fc&oe=5DD55D30");
}